html {
	--size: 40px;
}

#dig {
	background-color: tan;
}
.dig__cell {
	position: relative;
	width: var(--size);
	height: var(--size);
	outline: 0.5px solid white;
	outline-offset: 0.5px;
}
.dig__cell:before,
.dig__cell:after {
	content: '';
	display: block;
	position: absolute;
	background-color: grey;
}
.dig__cell:before {
	width: 5px;
	height: 5px;
	border-radius: 2px;
	top: 12px;
	left: 6px;
}
.dig__cell:after {
	width: 3px;
	height: 3px;
	border-radius: 50%;
	left: 18px;
	top: 2px;
}
.dig__cell:active {
	outline: 2px inset grey;
}

.dig__cell.has-fossil {
	background-color: red;
}
.dig__cell.has-fossil:before,
.dig__cell.has-fossil:after {
	content: none;
}
